html {
    height:100%;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #e7e7ef;

    	
}
.colalert{

	color: white;
	margin-top: 400px;
	margin-right: 50px;

}
.aligner{

	margin: 200px;
	 z-index: 20000;
	 position: fixed;

}
.container-fluid{
    height: 100%;
}

#content{
    height: 100%;
}

#main-content{
    height: 100%;
    top: 10px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

#map-canvas{
    height: 100%;
    width: 100%;
}

#form-index{
  position:relative;
  bottom: 0;
width: 86%; 
min-height:100%;
margin-left:7%;
margin-right:7%;
display: block;
 padding: 20px;
overflow-x: hidden;
  overflow-y: auto;
  background-color: #e8d7da;
 
}



#form-indexx{
position:relative;
bottom: 0;
width: 70%; 
min-height:100%;
margin-left:7%;
margin-right:23%;
display: block;
padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #b490ee;
  border-right: 1px solid #000000;
}


#form-indexPub{
position:relative;
bottom: 0;
width: 300px; 
min-height:200px;
margin-left:0%;
margin-right:0%;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto;
background-color: ;

z-index: 0;
}

.imgeG{	
min-width: 300px;
height: 180px;
position:absolute; /* absolute */
	background-size:100% auto;
	z-index: 0;
} 
#discussion{
	bottom: 0%;
	right: 0%;
	position: fixed;
}
.imgeGdesigne{	
max-width: 180px;
max-height: 180px;
position:absolute; /* absolute */
	background-size:100% auto;
	z-index: 0;
} 
#form-indexmsg{
  position:relative;
  bottom: 0;
width: 86%; 
min-height:100%;
margin-left:10%;
margin-right:7%;
  display: block;
    padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #b490ee;
  border-right: 1px solid #000000;
}

#footer {
min-height: 50%;
width: 86%; 
margin-left:7%;
margin-right:7%; 	
position: relative;
 background-color: #9f409f;
 padding: 20px;
 display: block;
 z-index: -3;
}

.ima{
	background-image: url("/Offre/ressources/images/case3.jpg") ; 
    background-position:center;
	height: 20%;
 	width: 86%; 
 	margin-left:7%;
 	margin-right:7%; 	
 	position: relative;

}
.styletextarea{
	min-width: 100%;
	min-height: 200px;
}
.box {
    float: left;
    min-width: 25%;
    min-height: 50px;
    margin: 2%;
 	background-color: #e2caca;

}

.blocSaisi{
margin-left:20%;
margin-right:20%; 
}

.titre{
	color: #979749;
}
.blocindex{
min-height:30%;
max-width:100%;

}

.blocindexoffre{
min-height:30%;
max-width:70%;

}

.blocpub{
min-height:30%;
max-width:100%

border: double;
left: 0%;
position: relative;

}


.imge{	
min-width: 200px;
height: 200px;
position:absolute; /* absolute */
background-size:100% auto;

} 
.imagePetit{
	
width:100px;
height:100px;
}

.alerte{
	bottom: 0%;
}

#vdo-2{
  background-position:center;
	height: 40%;
 	width: 86%; 
 	margin-left:7%;
 	margin-right:7%; 	
 	position: relative;
    line-height: 100px;
    padding: 0 0 0 30px;
    background-image: url("/Offre/ressources/images/case2.jpg") ; 
    -webkit-animation: anim1 5s infinite;
       -moz-animation: anim1 5s infinite;
         -o-animation: anim1 5s infinite;
            animation: anim1 5s infinite;
}


@-webkit-keyframes anim1{
    from {
       width: 86%;
       background-image: url("/Offre/ressources/images/case1.jpg") ; 
         
    }
    50%  {
       width: 86%;
        background-image: url("/Offre/ressources/images/case1.jpg") ; 
 
    }
    to   {
       width: 86%;
      background-image: url("/Offre/ressources/images/case2.jpg") ; 

      
    }
}

@-moz-keyframes anim1{
    from {
       width: 86%;
       background-image: url("/Offre/ressources/images/case2.jpg") ; 
        
    }
    50%  {
      width: 86%;
        background-image: url("/Offre/ressources/images/case2.jpg") ; 
   
    }
    to   {
       width: 86%;
       background-image: url("/Offre/ressources/images/case3.jpg") ; 
         
    }
}

@-o-keyframes anim1{
    from {
      width: 86%;
       background-image: url("/Offre/ressources/images/case3.jpg") ; 
         
    }
    50%  {
        width: 86%;
        background-image: url("/Offre/ressources/images/case3.jpg") ; 
   
    }
    to   {
        width: 86%;
       background-image: url("/Offre/ressources/images/case1.jpg") ; 
      
    }
}

@keyframes anim1{
    from {
        width: 86%;
      background-image: url("/Offre/ressources/images/case1.jpg") ; 
     
    }
    50%  {
       width: 86%;
      background-image: url("/Offre/ressources/images/case1.jpg") ; 
  
    }
    to   {
      width: 86%;
       background-image: url("/Offre/ressources/images/case2.jpg") ; 
          
    }
}